@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{margin: 0px; padding: 0px;}

.header{
    width:100%;
    float:left;
    padding: 15px 0px;
    border-bottom: 1.5px solid #d5e0d5;
    font-family: 'Roboto', sans-serif;
}
.header .navleft{
    width:18%;
    float: left;
}

.header .navleft img{
    width:120px;
    margin-left: 70px;
}
.header .navmiddle{
    width:52%;
    float: left;
    color: #65735B;
}
.header .navmiddle ul{
    padding: 8px 0px;
}

.header .navmiddle ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.header .navmiddle ul li a{
    font-size: 15px;
    font-weight: 500;
}

.header .navmiddle ul li a i{
    margin-left:8px;
    vertical-align: top;
}

.header .navright{
    width:30%;
    float: right;
}


.header .navright ul li{
    list-style: none;
    display: inline-block;
    margin-left:20px;
    color: #65735B;
    font-weight: 400;
    font-size: 15px;
}
.header .navright ul li .button{
    padding:12px;
    border:1px solid #d5e0d5;
    background-color: #f2f7f2;
    border-radius: 50%;
}
    
.header .navright ul li .button a{
    color:#14a800;
}
.header .navright ul li .button a i{
    padding: 0px 3px;
}
.header .navright ul li.btn{
    padding: 8px 30px;
    background-color: #14a800;
    border-radius: 20px;
    color: #fff;
}

.section1{
    width:100%;
    float:left;
    padding: 50px 0px;
}

.center{
    width:90%;
    margin:0px auto;
}
 .section1 .leftsec{
     width:55%;
     float:left;
 }
 .section1 .leftsec .content{
     padding-left: 10px;
 }

 .section1 .leftsec .content h2{
    font-family: 'Merriweather', serif;
    font-size: 58px;
    color: #14a800;
 }

 .section1 .leftsec .content p{
    font-family: 'Roboto', sans-serif;
    color: #65735B;
    font-size: 23px;
    font-weight: 500;
    line-height: 1.5;
    padding: 15px 0px;
 }

 .section1 .leftsec .content .button{
    font-family: 'Roboto', sans-serif;
    margin:20px 0px;

 }

 .section1 .leftsec .content .button ul li{
     display: inline-block;
     margin-right:15px;

}

.section1 .leftsec .content .button ul li a.btn1{
    color:#fff;
    background-color: #14a800;
    border-radius: 20px;
    padding:10px 30px;
}

.section1 .leftsec .content .button ul li a.btn2{
    color:#14a800;
    background-color: #fff;
    border-radius: 20px;
    padding:10px 30px;
    border:1px solid #14a800;
}
.section1 .leftsec .content .tag{
    color: #9aaa97;
    font-family: 'Roboto', sans-serif;
    margin-top: 80px;

}
.section1 .leftsec .content .tag h4{
    font-size: 17px;
    font-weight: 400;
}
.section1 .leftsec .content .tag ul{
    margin-top:10px;
} 

.section1 .leftsec .content .tag ul li{
    display: inline-block;
    margin-right: 40px;
}

.section1 .leftsec .content .tag ul li.img1 img{
    width:100px;
}

.section1 .leftsec .content .tag ul li.img2 img{
    width:80px;
}

.section1 .leftsec .content .tag ul li.img3 img{
    width:58px;
}

.section1 .leftsec .content .tag ul li.img4 img{
    width:110px;
}



.section1 .rightsec{
     width:45%;
     float: right;
 }

 .section1 .rightsec img{
     max-width: 100%;
     height: 450px;
 }






 .section2{
     width:100%;
     float: left;
 }
.centmid{
    width:92%;
    margin:0px auto;
}
.section2 .subsec{
     width:100%;
     background-image: url(../img6.jpg);
     background-position: top;
     background-size: cover;
     background-repeat: no-repeat;
     border-radius: 8px;
 }

 .section2 .content{
     width:50%;
     padding: 30px;
     color: #fff;
     font-family: 'Roboto', sans-serif;
 }
 .section2 h4{
     font-size: 24px;
     font-weight: 500;
     margin-bottom: 90px;
 }

 .section2 h2{
     font-size: 54px;
     font-weight: 600;
     font-family: 'Merriweather', serif;
     margin-bottom: 30px;
}

.section2 p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}


.section2 .box{
    width:100%;
}

.section2 .box ul{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: inline-flex;
    margin-bottom: 30px;

}

.section2 .box ul li{
    width:33.33%;
    list-style: none;
    background-color: #14a800;
    border-radius: 8px;
    margin-right: 30px;
    padding: 15px;
    color: #fff; 
}

.section2 .box ul li:hover{
    color:#14a800;
    background-color: #fff;
}

.section2 .box ul li:first-child{
    margin-left: 30px;
}

.section2 .box ul li p{
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
}

.section2 .box ul li h5{
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
}

.section2 .box ul li h5 sup{
    font-size: 9px;
}
.section2 .box ul li h5 i{
    margin-left: 10px;
    font-weight: 200;
}

.section3{
    width:100%;
    float: left;
    padding-top: 90px;
    padding-bottom: 80px;
}

.section3 .left{
    width:50%;
    float: left;
}

.section3 .left h2{
    font-size: 50px;
    font-weight: 600;
    font-family: 'Merriweather', serif;
    margin-bottom: 30px;
}

.section3 .left h3{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 1.5;
    font-weight: 500;
    color: #14a800;
}

.section3 .left ul{
    font-family: 'Roboto', sans-serif;
}
.section3 .left ul li{
    color: #d5e0d5;
    list-style: none;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.5;
}
.section3 .left ul li:hover{
    color:#14a800;
}
.section3 .right{
    width:50%;
    float: right;
}

.section3 .right img{
    width:450px;
    border-radius: 8px;
    margin-left: 21px;
}

.section3 .right ul{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    padding-left: 20px;
}
.section3 .right ul li{
    color:#65735b;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    border:1px solid #65735B;
    padding:5px 15px;
    border-radius: 25px;
    margin-right:7px;
    margin-bottom: 10px;
}




.section4{
    width:100%;
    float: left;
}

.section4 .left{
    width:50%;
    float: left;
}

.section4 .left img{
    width:100%;
    height: 635px;
}


.section4 .right{
    width:50%;
    float: right;
    background-color: #1f57c3;
}
.section4 .content{
    padding: 30px 30px 0px 30px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.section4 h4{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 25px;
}

.section4 h2{
    font-size: 54px;
    font-weight: 600;
    font-family: 'Merriweather', serif;
    margin-bottom: 30px;
}

.section4 .content p{
   font-size: 18px;
   line-height: 24px;
   font-weight: 500;
   padding-bottom: 90px;
   border-bottom: 1px solid #fff;
}

.section4 ul{
    display: inline-flex;
    margin:0px 20px;
    
}

.section4 ul li{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding:8px 10px 0px 10px;
    color: #fff;
    font-weight: 500;
    width:33.33%;
    list-style: none;
}

.section4 .button{
    padding:45px 30px;
}

.section4 .button a{
    border-radius:25px;
    background-color: #fff;
    color: #1f57c3;
    padding: 10px 30px;
}







.section5{
    width:100%;
    float: left;
    padding: 90px 0px;
}

.section5 .left{
    width: 50%;
    float: left;
}

.section5 .left h1{
    font-family: 'Merriweather', serif;
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 90px;
}

.section5 .left ul{
    margin-left: 160px;
    font-family: 'Roboto', sans-serif;
}

.section5 .left ul li{
    display: block;
}

.section5 .left ul li img{
    width:290px;
    border-radius: 8px;
}
.section5 .left ul li p{
    font-family: 'Merriweather', serif;
    color: #14a800;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    padding:30px 0px;
    margin-right: -27px;
}
.section5 .left ul li h4{
    font-size: 18px;
    margin-right:20px;
    line-height: 22px;
    font-weight: 500;
    border-top:1px solid black;
    padding-top: 30px;
    margin-bottom: 10px;
}

.section5 .left ul li h3{
    font-size: 18px;
    font-weight: 500;
    color: #65735b;
    margin-right: 20px;
}

.section5 .right{
    width: 50%;
    float: right;
}

.section5 .right ul{
    margin-left: 90px;
    font-family: 'Roboto', sans-serif;
}

.section5 .right ul li{
    display: block;
}

.section5 .right ul li img{
    width:290px;
    border-radius: 8px;
}
.section5 .right ul li p{
    font-family: 'Merriweather', serif;
    color: #14a800;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    padding:30px 0px;

}
.section5 .right ul li h4{
    font-size: 18px;
    margin-right: 100px;
    line-height: 22px;
    font-weight: 500;
    border-top:1px solid black;
    padding-top: 30px;
    margin-bottom: 10px;
}

.section5 .right ul li h3{
    font-size: 18px;
    font-weight: 500;
    color: #65735b;
}







.section6{
    width:100%;
    float: left;
    
}

.section6 .left{
    width: 50%;
    float: left;
    color: #fff;
    background-color: #14a800;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.section6 .left h1{
    margin: 30px 30px 140px 30px;
    font-size: 62px;
    font-weight: 600;
}

.section6 .left .box{
    font-family: 'Roboto', sans-serif;
    width:100%;
}

.section6 .left .box .box1{
    width:50%;
    float: left;
  
}
.section6 .left .box .box1 .content{
    border-top:1px solid #fff;
    margin-left: 30px;
    margin-right: 15px;
}

.section6 .left .box .box1 .content h4{
    padding-top: 10px;
    font-size: 17px;
    line-height: 1.2;
}
.section6 .left .box .box1 .content h2{
    font-size: 25px;
    margin-top: 10px;
    line-height: 1.2;
}
.section6 .left .box .box1 .content img{
    padding:30px 0px;
    width:30px;
}



.section6 .left .box .box2{
    width:50%;
    float: right;
}
.section6 .left .box .box2 .content{
    border-top:1px solid #fff;
    margin-left:15px;
    margin-right:30px;
}


.section6 .left .box .box2 .content h5{
    padding: 10px 0px;
    font-size: 17px;
    line-height: 1.2;
}
.section6 .left .box .box2 .content span{
    font-size: 25px;
    margin-right:10px;
    margin-top: 10px;
    line-height: 1.2;
}

.section6 .left .box .box2 .content span i{
    font-size: 20px;
}
.section6 .left .box .box2 .content img{
    padding: 50px 0px 30px 0px;
    width:110px;
}

.section6 .right{
    width:50%;
    float: right;
    min-height: 576px;
    background-image: url(../img11.jpg);
    background-size: cover;
    background-position: 50%; 
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}




.section7{
    width:100%;
    float: left;
    padding: 90px 0px;
}
.section7 ul{
    display: flex;
    font-family: 'Roboto', sans-serif;
    margin:0px 30px;
}

.section7 ul li{
    width:33.33%;
    list-style: none;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.7;
    color: #65735B;
}

.section7 ul li.first{
    font-size: 32px;
    color: #d5e0d5;
}

.section7 ul li.first span{
    color: #14a800;
}

.section7 ul li.first sup{
    font-size: 12px;
}





.section8{
    width:100%;
    float: left;
    padding-bottom: 30px;
    background-color: #001e00;
    font-family: 'Roboto', sans-serif;
}

.section8 .content ul{
    display: flex;
    padding: 50px 0px;
    border-bottom: 1px solid #65735b;
}

.section8 .content ul li{
    width:25%;
    list-style: none;
    font-size: 12px;
    color: #fff;
    line-height: 2.5;
}

.section8 .content ul li span{
    font-weight: 600;
    padding-bottom: 30px;

}

.section8 .lastsec{
    width:100%;
    float: left;
    border-bottom: 1px solid #65735b;
}


.section8 .lastsec ul{
    color: #fff;
    display: inline-block;
    padding: 20px 0px;
    
}

.section8 .lastsec ul:last-child{
   margin-left: 548px;
}
.section8 .lastsec ul li{
    list-style: none;
    display:inline-block;
}

.section8 .lastsec ul li h5{
    font-size: 12px;
    font-weight: 400;
    margin-right:15px;
}

.section8 .lastsec ul li p i{
    padding: 7px 9px 7px 9px;
}
.section8 .lastsec ul li i{
    border:1px solid #65735b;
    margin-right:8px;
    border-radius: 50%;
    font-size: 14px;
    padding: 7px;
}


.section8 .end{
    width:100%;
    float: left;
    color: #fff;
    font-size: 12px;
    display: inline-flex;
    padding: 20px 0px;
}

.section8 .end p{
    padding-right: 30px;
    border-right: 1px solid #65735b;
    margin-right: 30px;
}

.section8 .end ul li{
    display:inline-block;
    margin-right:30px;
}
